Node-RED EtherNet_IP to OPC UA Server.json
[{"id":"6da66b13.7fefc4","type":"OPCUA-IIoT-Server","z":"9fc081ae.7fb22","port":"55488","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"asoDemo":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":"1","discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":"","maxNodesPerBrowse":"","delayToClose":"","x":1070,"y":220,"wires":[["af16b21f.c284b8"]]},{"id":"af16b21f.c284b8","type":"debug","z":"9fc081ae.7fb22","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250,"y":220,"wires":[]},{"id":"d776f14a.c8ce9","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestVariables","browsename":"TestVariables","displayname":"Test Variables","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"Folder TestVariables","x":495.6999816894531,"y":30.000030517578125,"wires":[["39b5e671.af64ea"]]},{"id":"f5a1fa2f.2cb54","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":245.69998168945312,"y":30.000030517578125,"wires":[["d776f14a.c8ce9"]]},{"id":"79c34662.f7d1d8","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestDateTime","browsename":"TestDateTime","displayname":"Test DateTime","objecttype":"BaseDataVariableType","datatype":"DateTime","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"DateTime","x":455.6999816894531,"y":90.00003051757812,"wires":[["39b5e671.af64ea"]]},{"id":"751bcd44.bbec7c","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":245.69998168945312,"y":90.00003051757812,"wires":[["79c34662.f7d1d8"]]},{"id":"ac5817b2.c84d38","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestBoolean","browsename":"TestBoolean","displayname":"Test Boolean","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"Boolean","x":455.6999816894531,"y":130.00003051757812,"wires":[["39b5e671.af64ea"]]},{"id":"dbcddb59.266b98","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":225.69998168945312,"y":130.00003051757812,"wires":[["ac5817b2.c84d38"]]},{"id":"132f09b0.e1457e","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestDouble","browsename":"TestDouble","displayname":"Test Double","objecttype":"BaseDataVariableType","datatype":"Double","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"Double","x":455.6999816894531,"y":170.00003051757812,"wires":[["39b5e671.af64ea"]]},{"id":"e8b1dc3f.f1777","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"10.2","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":225.69998168945312,"y":170.00003051757812,"wires":[["132f09b0.e1457e"]]},{"id":"ee7cf8eb.49c358","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestUInt16","browsename":"TestUInt16","displayname":"Test UInt16","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"UInt16","x":445.6999816894531,"y":210.00003051757812,"wires":[["39b5e671.af64ea"]]},{"id":"e722d7a9.8e2c78","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":225.69998168945312,"y":210.00003051757812,"wires":[["ee7cf8eb.49c358"]]},{"id":"6e148caf.29e2e4","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestUInt32","browsename":"TestUInt32","displayname":"Test UInt32","objecttype":"BaseDataVariableType","datatype":"UInt32","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"UInt32","x":445.6999816894531,"y":250.00003051757812,"wires":[["39b5e671.af64ea"]]},{"id":"73659b32.422b94","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"125000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":235.69998168945312,"y":250.00003051757812,"wires":[["6e148caf.29e2e4"]]},{"id":"6df3ae2d.32c3f","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestUInt64","browsename":"TestUInt64","displayname":"Test UInt64","objecttype":"BaseDataVariableType","datatype":"UInt64","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"UInt64","x":445.6999816894531,"y":290.0000305175781,"wires":[["39b5e671.af64ea"]]},{"id":"1611ce78.c6a4ea","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"125000000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":245.69998168945312,"y":290.0000305175781,"wires":[["6df3ae2d.32c3f"]]},{"id":"d0fca4ee.3422","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestString","browsename":"TestString","displayname":"Test String","objecttype":"BaseDataVariableType","datatype":"String","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"String","x":445.6999816894531,"y":330.0000305175781,"wires":[["39b5e671.af64ea"]]},{"id":"7e67c016.a406b8","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"Hello IIoT World!","payloadType":"str","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":265.6999816894531,"y":330.0000305175781,"wires":[["d0fca4ee.3422"]]},{"id":"371de3dc.4aa6bc","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestInt16","browsename":"TestInt16","displayname":"Test Int16","objecttype":"BaseDataVariableType","datatype":"Int16","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"Int16","x":450,"y":380,"wires":[["39b5e671.af64ea"]]},{"id":"bc371bd6.ec129","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"-6000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":230,"y":380,"wires":[["371de3dc.4aa6bc"]]},{"id":"a0a42f9e.b1a2f8","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestInt32","browsename":"TestInt32","displayname":"Test Int32","objecttype":"BaseDataVariableType","datatype":"Int32","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"Int32","x":450,"y":420,"wires":[["39b5e671.af64ea"]]},{"id":"bca7be33.224028","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"-165000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":240,"y":420,"wires":[["a0a42f9e.b1a2f8"]]},{"id":"47d5bd36.24dbdc","type":"OPCUA-IIoT-Inject","z":"9fc081ae.7fb22","injectType":"inject","payload":"[{\"text\":\"Hallo Welt!\",\"locale\":\"de\"},{\"text\":\"Hello World!\",\"locale\":\"en\"},{\"text\":\"Bonjour Monde!\",\"locale\":\"fr\"}]","payloadType":"json","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"JSON","addressSpaceItems":[],"x":230,"y":460,"wires":[["e4caea7f.777058"]]},{"id":"e4caea7f.777058","type":"OPCUA-IIoT-Server-ASO","z":"9fc081ae.7fb22","nodeId":"ns=1;s=TestLocalizedText","browsename":"TestLocalizedText","displayname":"Test LocalizedText","objecttype":"BaseDataVariableType","datatype":"LocalizedText","value":"","referenceNodeId":"ns=1;s=TestVariables","referencetype":"Organizes","name":"LocalizedText","x":480,"y":460,"wires":[["39b5e671.af64ea"]]},{"id":"39b5e671.af64ea","type":"function","z":"9fc081ae.7fb22","name":"thru","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":220,"wires":[["6da66b13.7fefc4"]]},{"id":"88a4a178b292d8ac","type":"OPCUA-IIoT-Write","z":"9fc081ae.7fb22","connector":"96627b0a.ff3a18","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":410,"y":520,"wires":[["0889150695cd34f3"]]},{"id":"81b1ad0a831c2c55","type":"OPCUA-IIoT-Node","z":"9fc081ae.7fb22","injectType":"write","nodeId":"ns=1;s=TestInt16","datatype":"Int16","value":"","name":"TestInt16","topic":"","showErrors":false,"x":280,"y":520,"wires":[["88a4a178b292d8ac"]]},{"id":"610d455499bf5a7d","type":"inject","z":"9fc081ae.7fb22","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"24","payloadType":"num","x":130,"y":520,"wires":[["81b1ad0a831c2c55"]]},{"id":"0889150695cd34f3","type":"debug","z":"9fc081ae.7fb22","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":520,"wires":[]},{"id":"b384dd640dc26aa0","type":"eth-ip in","z":"9fc081ae.7fb22","endpoint":"b7ce75a17a74e187","mode":"single","variable":"IoT_data","program":"","name":"","x":220,"y":600,"wires":[["3df64347fe044197","81b1ad0a831c2c55"]]},{"id":"3df64347fe044197","type":"debug","z":"9fc081ae.7fb22","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":600,"wires":[]},{"id":"96627b0a.ff3a18","type":"OPCUA-IIoT-Connector","z":"9fc081ae.7fb22","discoveryUrl":"","endpoint":"opc.tcp://localhost:55488/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"b7ce75a17a74e187","type":"eth-ip endpoint","z":"9fc081ae.7fb22","address":"192.168.1.159","slot":"2","cycletime":"2000","name":"","vartable":{"":{"IoT_data":{"type":"DINT"}}}}]